/**
 * \file style.css
 * \brief default view style.
 * \author Tayan Jad
 * \date 2021-04-13
 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --body_gradient_left: #2e0053;
  --body_gradient_right: #1a002e;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(to top right, #2e0053, #1a002e);
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}

.mainform {
  position: relative;
  top: 20%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  width: 24%;
  height: 530px;
}

input[type='range']{
  width : 50%;
  -webkit-appearance: none;
  overflow: hidden;
  outline: none;
  background: linear-gradient(90deg, #6700CD 50%, rgba(128, 0, 255, 0) 105.75%, #2e0053 105.75%);
  border-radius: 30px;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  border: 1px white solid;
  background: #6700CD;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #6700CD;
  border: 1px white solid;
  cursor: pointer;
}



.profilbutton{
  position: absolute;
  background: black;
  color: white;
  border: 1px solid #b9b9b9;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
  height: 55px;
  font-size: xx-large;
  float: right;
  max-width: 30%;
  bottom: 1%;
  right: 1%;
  
}

.profilbutton .deconnexion{
  visibility: hidden;
  height: 80%;
  vertical-align: middle;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Poppins;
  font-weight: 500;
  background-color: white;
  border-radius: 10px;
  color: black;
}
.profilbutton:hover .deconnexion{
  visibility: visible;
  
}
.profilbutton:hover{
  cursor: pointer;
}

.paramContainer{
  top: 10%;
  background-color: #25004A;
  border-radius: 10px;
  color: white;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: 500;
  font-size: xx-large;
  padding-left: 5%;
}

#jouer{
}

select{
  width: 50%;
  background-color: white;
  font-family: Poppins;
  font-size: xx-large;
}


.gameform {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  width: 65%;
  height: 600px;
  margin-top: 5%;
}
.formParam {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height:80%;
}

#loginform {
  position: relative;
  top: 20%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  width: 24%;
  height: 445px;
}

.mainform form #input1 {
  position: relative;
  top: 25px;
}
.mainform form a {
  display: inline-block;
}
.textboxform {
  position: relative;
  background: #e8e8e8;
  border: 1px solid #b9b9b9;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 80%;
  left: 10%;
  height: 65px;
  padding-left: 5%;
  font-size: x-large;
  top: 25px;
  margin-top: 10px;
}

.mainform form #inscrire {
  position: relative;
  background: black;
  color: white;
  border: 1px solid #b9b9b9;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 80%;
  left: 10%;
  height: 65px;
  font-size: xx-large;
  top: 25px;
  margin-top: 15px;
  font-style: italic;
}

.textboxform::placeholder {
  position: relative;
  font-size: x-large;
  font-style: italic;
}

.textboxform:focus {
  outline: none;
  background-color: white;
}

.mainform h1 {
  font-size: 2.3em;
  position: relative;
  top: 45px;
  font-weight: 600;
  text-align: center;
}

.mainform h3 {
  position: relative;
  left: 15%;
  top: 25px;
  font-weight: 500;
}
.mainform a {
  position: relative;
  left: 35%;
  top: 5px;
  font-weight: 500;
  margin-bottom: 20px;
}
